* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;
  user-select: none;
  appearance: none;
  background: none;
  box-shadow: none;
  border: 0;
  margin: 0;
  padding: 0;
}

input,
textarea {
  appearance: none;
  background: none;
  box-shadow: none;
  border: 0;
  margin: 0;
  padding: 0;
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
}

input::-ms-clear,
input::-webkit-search-cancel-button {
  display: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 0px;
}

li {
  line-height: initial;
  font-size: initial;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
}

pre {
  font-family: inherit;
}

body,
table,
table td,
button,
input,
select,
textarea {
  font-family: sans-serif;
  color: black;
  font-size: 16px;
}

table {
  width: 100%;
  border-style: hidden;
  border-collapse: collapse;
  border-spacing: 0;
}

textarea {
  width: 100%;
  resize: none;
}

select {
  appearance:none;
}